In [4]:
x = 30
y = 20.5
z = 'hello'

In [5]:
print(x)

30

In [17]:
print(y)

20.5

In [18]:
print(z)

hello

In [ ]:
## Data Types

Python is a dynamically typed language. That means the  interpreter infers the type of an object at runtime. Basic data types are:
- **Integers**: stores positive or negative integer values. In python integer type can be arbitrarily large. _(eg. 10, 3, -5)_
- **Float**: stores decimal numbers. By default, python interprets any number that includes a decimal point as a             double precision floating point number. Like some other programming languages, in python there is not much difference between float and double except that float is in built in python while double is imported from a library called numpy. We will talk about the libraries in detail later. _(eg. 20.2, 100.2403, -5.50)_
- **String**: stores a group of characters encapsulated in single quote or double quotes _(eg. "hello", "Ironhack", "Teacher")_
- **Boolean**: stores either a TRUE or FALSE

To check our data types we will use the function type()

**Integer**

In [6]:
x = 10
print(x)
type(x)

10

int

**Float**

In [7]:
y = 20.20
print(y)
type(y)

20.2

float

**String**  

String can  be encapsulated in single quotes or double quotes.

In [8]:
z = "Hello Iron Hackers, howz?"
print(z)
type(z)

Hello Iron Hackers, howz?

str

In [9]:
x ='Hello there! I am new here :)'
print(x)
type(x)

Hello there! I am new here :)

str

In [28]:
#Note in the previous two cases the length of the string was small (they were single line strings).   
#What if we want a string that is more than one line long (multiple line string).  
#In such cases we use three single quotes. And every new line is represented by a '/n' character in the output

In [10]:
# Multiple line string
x = '''Float - stores decimal numbers. By default, python interprets any number that includes a decimal point as a double precision floating point number. Like some other programming languages, in python there is not much difference between float and double except that float is in built in python while double is imported from a library called numpy.
We will talk about the libraries in detail later.
Hello
There!'''
print(x)
type(x)

y= '''This is awesome to know how to write multiple line strings with quoted with three  single quotes. I like this function of python.'''
print(y)
type(y)

Float - stores decimal numbers. By default, python interprets any number that includes a decimal point as a double precision floating point number. Like some other programming languages, in python there is not much difference between float and double except that float is in built in python while double is imported from a library called numpy.
We will talk about the libraries in detail later.
Hello
There!
This is awesome to know how to write multiple line strings with quoted with three  single quotes. I like this function of python.

str

**Boolean**

In [12]:
x = True # this is higlighted in green because it is a key word
print(x) 
type(x)

True

bool

In [13]:
x = False
print(x) 
type(x)

False

bool

In [13]:
x = "True" # In this case it is a string because we encapsulated in double quotes 
print(x)
type(x)

True

str

## Excercise: Data Types

**1. For the following variables, use python to check the data type of the variables**

In [113]:
x1 = 1.1
print(x1)
type(x1)

1.1

float

In [114]:
x2 = "Ironhack"
print(x2)
type(x2)

Ironhack

str

In [115]:
x3 = "1.1"
print(x3)
type(x3)

1.1

str

In [116]:
x4 = True
print(x4)
type(x4)

True

bool

In [117]:
x5 = "True"
print(x5)
type(x5)

True

str

In [118]:
x6 = -1
print(x6)
type(x6)

-1

int

In [ ]:
x1 = float, x2 = String, x3 = String, x4 = Boolean, x5 = String, x6 = Integer

**2. What is the difference x1 and x3.**

In [ ]:
x1 is float and x 3 is string

**3. What is the difference between x4 and x5**

In [ ]:
x4 is boolean while x5 is string

## Operators

Operators are special symbols in python that are used to perform certain operations such as mathematical operations, logical operations, and comparison operations. The value or the variables that the operator works on are called Operands. 
We will look at some of the more common operators that we use in Python.

In [39]:
# We will define two variables here and use operators on them
x = 10
y = 5

### Arithmetic operators

These are used to perform mathematical operations as shown below:

Here on the left hand side we have the operator and on the right we can see how they can be used with variables

+	Addition	x + y  
-	Subtraction	x - y  
*	Multiplication	x * y
/	Division	x / y
%	Modulus	x % y  
**	Exponentiation	x ** y
//	Floor division	x // y

In [40]:
# You can try and test these operators as shown below

In [32]:
x = 50
y = 25
x+y

75

In [33]:
x-y

25

In [34]:
x*y

1250

In [35]:
x/y

2.0

In [36]:
x%y # Gives the remainder

0

In [37]:
x**y # 'y' times multiplication of 'x'

2980232238769531250000000000000000000000000

In [38]:
x // y # Rounds off the result to the lower interger value on the number line

2

In [ ]:
# Python also has a 'math' library that you can use to perform some more complex mathematical operations.
# Libraries in python contains some pre-defined functions that the user can directly.
# We will talk about libraries in more detail later

In [30]:
# Here we will show how to use math library for some operations that we have looked at before

In [44]:
import math 
math.floor(4.8) # This is the same as 'floor division' operator that we used earlier

4

In [46]:
math.pow(3,3) # This is the same as 'Exponentiation' operator that we used earlier

27.0

In [47]:
math.sqrt(16) #This returns the square root

4.0

### Assignment Operators

These are used to assign values to variables. We have already seen it before when we talked about 'Variables' and 'Data Types'

In [57]:
x = 10
print(x)

10

There are also some special assignment operators that assign the value and perform simple mathematical operatio at the same time. They are shown below:

x += 3  is equivalent to x = x + 3

In [48]:
x = 10
x += 3
print(x)

13

In [49]:
x = 20
x -=10
print(x)

10

In [50]:
x = 3
x *=3
print(x)

9

In [45]:
x = 10
x/=3
print(x)

3.3333333333333335

In [46]:
x = 10
x%=3
print(x)

1

### Comparison Operators

These are to make comparison between two variables. They return a boolean value, either True or False  
Returns True if the condition is met, otherwise returns a False

==  Equal   x == y 
!=  Not equal  x != y  
>   Greater than  x > y 
<   Less than  x < y 
>=  Greater than or equal to  x >= y
<=  Less than or equal to  x <= y

In [58]:
x = 10  # Initialize variable `x` with a value 10
y = 5   # Initialize variable `y` with a value 5

In [59]:
x == y

False

In [60]:
x != y

True

In [61]:
x > y

True

In [62]:
x >= y

True

In [63]:
x<y

False

In [64]:
x <= y

False

### Logical Operators

These operators are used to combine two or more comparison operations.  
It returns True if all the conditions are met.  
Returns a False if any one of the multiple conditions is not met.

In [55]:
x = 10 # First we will initialize variable `x` with a value 10.

**and**

Returns True if both statements are true   
x < 5 and x < 10

In [53]:
x < 5 and x < 10

False

In [56]:
x > 5 and x < 20

True

**or**

Returns True if one of the statements is true     
x < 5 or x < 4

In [57]:
x < 5 or x > 12

False

In [58]:
x == 10 or x > 12

True

**not**

Reverse the result, returns False if the result is true  
not(x < 5 and x < 10)

In [59]:
not(x < 5 or x > 12)

True

In [91]:
not(x == 10 or x > 12)

False

## More Resources:

https://www.programiz.com/python-programming/operators

https://www.tutorialspoint.com/python/python_basic_operators.htm

# Exercise Operators

**1. In this problem we will show you how to take a user input. Use the code and then answer the questions 
that follow:**

x1 = input("Please enter an integer number: ")

x2 = input("Please enter another integer number")

Print the values of the two variables?
What is the data type of `x1` and `x2`?

As you would notice, data type of `x1` and `x2` is string. Even though we entered integers, the input function
converts them into string by default. Now we do some data type conversion from string to integers

x1 = int(x1)  # This converts string into integer and re-initializes `x1`
x2 = int(x2)  # This converts string into integer and re-initializes `x2`

Print the values of the two variables?
What is the data type of `x1` and `x2`?

Now perform simple comparisons between `x1` and `x2`

    Check if the two variables are equal ?
    
    Check if `x1` is greater than `x2`?
    
    Check if `x2` is greater than `x1`?
    
    Check if `x1` is not equal to `x2`?
    

Store the difference between the two varibles `x1` and `x2` in another variable `x3` 
(subtract the smaller number from the larger number)

Increment the smaller of the two variables (`x1` and `x2`) with the difference. Again check if `x1` and `x2`
are equal or not?

x1 = input("Please enter an integer number: ")
x2 = input("Please enter another integer number")
print(x1)
print(x2)
type(x1)
type(x2)

In [91]:
x1 = int(x1)
x2 = int(x2)
print(x1)
print(x2)
type(x1)
type(x2)

2
4

int

In [92]:
x1 == x2

False

In [93]:
x1 > x2

False

In [94]:
x2 > x1

True

In [95]:
x1 != x2

True

In [96]:
x3 = x1 - x2
print(x3)

-2

In [97]:
x1 += 2
x2 += 2
print(x1)
print(x2)
x1 == x2

4
6

False

**2. In the lesson we talked about 'math' library in python. [Here](https://docs.python.org/3/library/math.html) is a link to the documenation of this library. 
Go through the documentation and try any three more functions on a numerical variable that were not described 
in the lesson.**

In [99]:
math.factorial(4)

24

In [105]:
math.fsum([.9, 0.3, 0.4, 0.8, 0.7, 0.2, 0.1])

3.4

In [112]:
math.isnan(10)

False

## Additional Material

The students will not be tested on these in the pre-work assessment!!

In [128]:
# We will talk about these later in the bootcamp. The definitions are below for your reference.

In [129]:
x = 10
y = 5

**Identity Operator**

**is**

Returns True if both variables are the same object	
x is y

In [130]:
x is y

False

**is not**

Returns True if both variables are not the same object   
x is not y

In [132]:
x is not y

True

**Membership Operator**

In [136]:
a = 'I'
b = 'Ironhack'

**in**

Returns True if a sequence with the specified value is present in the object
x in y

In [137]:
a in b

True

**not in**

Returns True if a sequence with the specified value is not present in the object
x not in y

In [138]:
a not in b

False

**Bitwise Operators**

Bitwise operators are used to perform bitwise calculations on integers. The integers are first converted into binary and then operations are performed on bit by bit, hence the name bitwise operators. Then the result is returned in decimal format.

In [120]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100
print("Line 1 - Value of c is ", c)

Line 1 - Value of c is  12

Variables are used to store data values.